.enquiry__container{
          padding: 2rem ;
          display: flex;
          
          .enquiry_leftside{
                    display: flex;
                    flex: 1;
                    padding: 0 1rem;
                    flex-direction: column;
                    h2{
                             
                              font-size: 2.5rem;
                              margin-bottom: 1rem;
                              
                    }
                    label.Mui-focused{
                              color: orange;
                    }
                    label.Mui-focused{
                             border-color: orange !important;
                    }
                    .Mui-focused fieldset{
                              border-color: orange !important;
                    }
                    .MuiButton-contained{
                              background-color: orange;
                              color: #fff;
                    }
                    
          }
          .enquiry_rightside{
                    display: flex;
                    flex: 1;
                    justify-content: flex-end;
          }
          .enquiry_button{
                    margin-top: 1rem;
          }
}
.popup__container{
          z-index: 2;
          position: fixed;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          background-color:rgba(0,0,0,0.5);
          .popup{
                    z-index: 3;
                    background-color:green;
                    color: #fff;
                    padding: 2rem 1rem;
          }
}
@media screen and (max-width:768px) {
          .enquiry__container{
                    flex-direction: column;
                    padding: 1rem;
                    .enquiry_leftside{
                              padding: 0;
                              flex: auto;
                              height: 100%;
                              width: 100%;
                              h2{
                                        text-align: center;
                              }
                    }
                    .enquiry_rightside{
                              
                              height: 100%;
                              width: 100%;
                              margin: 1rem 0;
                              img{
                              height: 100%;
                              width: 100%;
                              object-fit: cover; 
                              }
                    }
          }
          
}