.contact__container{
          padding: 2rem ;
          display: flex;
          
          .contact_leftside{
                    display: flex;
                    flex: 1;
                    padding: 0 1rem;
                    flex-direction: column;
                    h2{
                             
                              font-size: 2.5rem;
                              margin-bottom: 1rem;
                              
                    }
                 .contact_text{
                           padding: 0 1rem 1rem 0;
                           text-align: justify;
                 }
                    p{
                              display: flex;
                              align-items: center;
                              font-size: large;
                              
                             span{
                                       color: orange;
                                       margin-right: .3rem;
                                       margin-top: 5px;
                             }
                    }
                  
          }
          .contact_rightside{
                    display: flex;
                    flex: 2;
                    justify-content: flex-end;
                    iframe{
                              height: auto;
                              width: 100%;
                    }
          }
}
@media screen and (max-width:768px) {
   .contact__container{
      flex-direction: column;
      padding: 0;
      .contact_leftside{
       
      }
      h2{
         text-align: center;
      }
      .contact_rightside{
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 1rem 0;
         iframe{
            height: 400px;
            margin: 0;
            
         }
      }
   }
   
}