.Navbar{
          background-color: transparent;
          background-color: rgba(0,0,0,0.5) !important;
          padding: 1rem;
         transition-property: all;
         transition-delay: 0.5s;
    
          .Navbar__brand{ 
                    transition-property: all;
                    transition-delay: 0.5s;
                   flex-grow: 1;
                 img{
                    transition-property: all;
                    transition-delay: 0.5s;
                           height: 80px;
                 }
                 
          }
}
.NavbarScroll{
          background-color: #fff !important;
          padding: .5rem;
          transition-property: all;
          transition-delay: 0.5s;
          .Navbar__brand{ 
                    transition-property:all;
                    transition-delay: 0.5s;
                   flex-grow: 1;
                 img{
                           height: 40px;
                 }
                 
          }
}
.Navbar__link{
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          transition:all 0.5s;
          ul{
                 list-style-type: none;
                 display: flex;
                 li{
                        &:hover ul {
                               display: block;
                               transition:all 0.5s;
                               
                        }
                        ul{
                              flex-direction: column;
                              background-color: #fff;
                              position: absolute;
                              height:fit-content;
                              display: none;
                              transition:all 0.5s;
                              li                            
                            {
                                     padding: .5rem 2rem;
                                   //   line-height: 2rem;
                                     display: flex;
                                     flex-direction: row;
                                     &:hover{
                                          background-color: #EF7F1B;
                                   }
                                   &:hover .submenu{
                                          color: #fff;
                                   }
                              }
                              .submenu{
                                     text-decoration: none;
                                     color: rgba(0, 0, 0, 0.521);
                                     font-size: 1.1rem;
                                     letter-spacing: .5px;
                                    
                              }
                        }
                 }
          }
          .navLink{
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.2rem;
                    margin: 0 1rem;
                    &:hover{
                              color: #EF7F1B;
                    }
          }
          .navLink_scroll{
                    text-decoration: none;
                    color: black;
                    font-size: 1.2rem;
                    margin: 0 1rem;
                    &:hover{
                              color: #EF7F1B;
                    }
          }
          .navActive{
                    color: #EF7F1B;
          }
}
.mobileNav__list{
       margin-top: 1rem;
       .mobilenavActive{
              color: #EF7F1B !important;
       }
       .MuiTypography-body1{
              font-size: 1.1rem !important;
       }
       .drawerNav{
              text-decoration: none;
              font-size: 1.1rem !important;
              color: rgba(0, 0, 0, 0.74);
       }

}
@media screen and (max-width:768px) {
       .Navbar{
       .Navbar__brand{
              img{
                     height: 50px;
                     object-fit: contain;
              }
       }
}
}
// About home

